body{
    font-family: "Times New Roman", serif;
    background-image: url('bild.jpg');
}

h1 {
    color: #491c2f;
}

h2 {
    color: #1c491c;
}

p {
    color: #297897;
}

th{
    background-color: yellowgreen;
}

td, th{
    border: 1px solid black;
    text-align: center;
    width: 40px;
    height: 40px;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
}

#wrapper{
    display: inline-block;
}

#calendar-header{
    display: flex;
    justify-content: space-between;
}

#prevMonth, #nextMonth{
    background-color: beige;
}

#month, #year{
    font-weight: bold;
}

td:hover{
    background-color: orange;
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

.today{
    background-color: yellow;
}

.weekend{
    background-color: lightgray;
}

.selected{
    background-color: orange;
    font-weight: bold;
}

ul{
    padding-left: 0;
    list-style-position: inside;
}